@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
/* configuração para tablet*/


    body {
        background-image: linear-gradient(to top, #252525, #6A6A6A);

    }
    section#login {
        width: 80vw;
        height: 300px;

    }

    section#login > div#imagem {
        width: 30%;
        height: 100%;
        float: left;
    }

    section#login > div#formulario {
        width: 70%;
        float: right;
    }

}

@media  screen and (min-width: 992px)  {
/* configurações para desktop*/

    section#login {
        width: 990px;
        height: 400px;
    }

    body {
        background-image: linear-gradient(to top, #252525, #6A6A6A);

    }

    section#login > div#imagem {
        width: 50%;
        height: 100%;
        float: right;
      
        
    }

    section#login > div#formulario {
        width: 50%;
        float: left;
        
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }

}
